In [1]:
# Import Dependencies
import pandas as pd
import numpy as np

In [2]:
fentanyl_csv = "Resources_PH/Fentanyl_Total.csv"
heroin_csv = "Resources_PH/Heroin_Total.csv"
methadone_csv = "Resources_PH/Methadone_Total.csv"
opiates_csv = "Resources_PH/Opiates_Total.csv"
other_opioids_csv = "Resources_PH/Other_Opioids_Total.csv"
prescription_csv = "Resources_PH/Prescription_Total.csv"

In [3]:
fentanyl_df = pd.read_csv(fentanyl_csv)
heroin_df = pd.read_csv(heroin_csv)
methadone_df = pd.read_csv(methadone_csv)
opiates_df = pd.read_csv(opiates_csv)
other_opioids_df = pd.read_csv(other_opioids_csv)
prescription_df = pd.read_csv(prescription_csv)

In [4]:
#Merge the DataFrames together based on County
merge1_df = pd.merge(fentanyl_df, heroin_df, on='County', suffixes=('_Fentanyl', '_Heroin'))

merge2_df = pd.merge(merge1_df, methadone_df, on='County')
merge2_df = merge2_df.rename(columns={"2007":"2007_Methadone",
                                      "2008":"2008_Methadone",
                                      "2009":"2009_Methadone",
                                      "2010":"2010_Methadone",
                                      "2011":"2011_Methadone",
                                      "2012":"2012_Methadone",
                                      "2013":"2013_Methadone",
                                      "2014":"2014_Methadone",
                                      "2015":"2015_Methadone",
                                      "2016":"2016_Methadone",
                                      "2017":"2017_Methadone",
                                      "2018 **":"2018**_Methadone",
                                      "2019 **":"2019**_Methadone"})

merge3_df = pd.merge(merge2_df, opiates_df, on='County')
merge3_df = merge3_df.rename(columns={"2007":"2007_Opiates",
                                      "2008":"2008_Opiates",
                                      "2009":"2009_Opiates",
                                      "2010":"2010_Opiates",
                                      "2011":"2011_Opiates",
                                      "2012":"2012_Opiates",
                                      "2013":"2013_Opiates",
                                      "2014":"2014_Opiates",
                                      "2015":"2015_Opiates",
                                      "2016":"2016_Opiates",
                                      "2017":"2017_Opiates",
                                      "2018 **":"2018**_Opiates",
                                      "2019 **":"2019**_Opiates"})

merge4_df = pd.merge(merge3_df, other_opioids_df, on='County')
merge4_df = merge4_df.rename(columns={"2007":"2007_Other_Opioids",
                                      "2008":"2008_Other_Opioids",
                                      "2009":"2009_Other_Opioids",
                                      "2010":"2010_Other_Opioids",
                                      "2011":"2011_Other_Opioids",
                                      "2012":"2012_Other_Opioids",
                                      "2013":"2013_Other_Opioids",
                                      "2014":"2014_Other_Opioids",
                                      "2015":"2015_Other_Opioids",
                                      "2016":"2016_Other_Opioids",
                                      "2017":"2017_Other_Opioids",
                                      "2018 **":"2018**_Other_Opioids",
                                      "2019 **":"2019**_Other_Opioids"})

merge5_df = pd.merge(merge4_df, prescription_df, on='County')
merge5_df = merge5_df.rename(columns={"2007":"2007_Prescription",
                                      "2008":"2008_Prescription",
                                      "2009":"2009_Prescription",
                                      "2010":"2010_Prescription",
                                      "2011":"2011_Prescription",
                                      "2012":"2012_Prescription",
                                      "2013":"2013_Prescription",
                                      "2014":"2014_Prescription",
                                      "2015":"2015_Prescription",
                                      "2016":"2016_Prescription",
                                      "2017":"2017_Prescription",
                                      "2018 **":"2018**_Prescription",
                                      "2019 **":"2019**_Prescription"})

merge5_df.columns

total_death_count_df = merge5_df.drop(columns=['2007_Fentanyl', '2018 **_Fentanyl', '2019 **_Fentanyl', 
                                   '2007_Heroin', '2018 **_Heroin', '2019 **_Heroin', 
                                   '2007_Methadone', '2018**_Methadone', '2019**_Methadone', 
                                   '2007_Opiates', '2018**_Opiates', '2019**_Opiates', 
                                   '2007_Other_Opioids', '2018**_Other_Opioids', '2019**_Other_Opioids', 
                                   '2007_Prescription', '2018**_Prescription', '2019**_Prescription'])

total_death_count_df = total_death_count_df.set_index(['County'])
total_death_count_df

,2008_Fentanyl,2009_Fentanyl,2010_Fentanyl,2011_Fentanyl,2012_Fentanyl,2013_Fentanyl,2014_Fentanyl,2015_Fentanyl,2016_Fentanyl,2017_Fentanyl,...,2008_Prescription,2009_Prescription,2010_Prescription,2011_Prescription,2012_Prescription,2013_Prescription,2014_Prescription,2015_Prescription,2016_Prescription,2017_Prescription
County,,,,,,,,,,,,,,,,,,,,,
Adams,0,0,0,0,0,1,4,5,5,10,...,1,1,1,0,1,3,5,6,7,10
Allen,0,0,0,1,1,2,0,6,18,26,...,1,2,2,4,7,8,6,15,21,31
Ashland,0,0,0,1,0,0,1,1,2,2,...,1,0,1,2,0,0,2,2,3,2
Ashtabula,0,2,1,0,0,0,2,4,27,13,...,2,3,3,1,3,3,7,9,31,16
Athens,1,0,0,2,0,0,2,2,0,1,...,1,3,3,11,3,4,5,5,5,4
Auglaize,1,0,0,1,0,0,0,3,2,3,...,3,1,2,3,3,3,1,5,2,6
Belmont,0,0,0,0,3,0,0,2,5,6,...,4,2,4,1,5,1,3,6,9,9
Brown,0,0,1,0,0,0,2,12,11,19,...,3,1,3,3,2,4,4,16,12,23
Butler,3,3,2,3,2,8,49,104,118,194,...,30,42,38,50,39,37,76,133,150,218
Carroll,0,0,0,0,0,0,1,1,2,4,...,1,2,0,0,3,1,1,3,2,4
Champaign,0,0,1,0,1,0,1,4,8,13,...,0,0,5,5,3,3,3,5,8,14
Clark,5,4,1,4,2,3,8,48,50,83,...,9,9,13,22,18,18,18,53,58,86
Clermont,2,1,3,4,1,3,22,54,53,67,...,20,11,26,29,19,18,46,72,65,77
Clinton,1,0,0,0,2,0,2,13,8,23,...,4,2,0,0,4,4,3,15,11,26
Columbiana,0,0,1,1,0,0,0,1,4,7,...,2,0,1,2,3,3,5,6,6,14
Coshocton,0,0,0,0,0,0,0,1,0,1,...,2,0,0,0,1,1,1,3,0,3
Crawford,0,0,1,0,0,0,2,5,3,13,...,2,1,2,2,1,2,7,8,6,15
Cuyahoga,7,4,7,6,9,4,32,83,378,454,...,55,61,55,101,69,73,103,138,422,498
Darke,0,0,0,0,0,0,5,4,14,24,...,2,2,1,2,7,1,9,6,16,26
Defiance,0,0,0,0,1,0,0,2,2,2,...,0,1,1,4,1,2,3,5,3,2
Delaware,0,2,1,1,1,3,0,2,3,20,...,4,6,6,8,8,11,4,6,8,25
Erie,0,0,0,0,0,1,1,8,12,21,...,3,4,2,2,3,3,8,15,21,24
Fairfield,0,1,3,2,1,0,0,4,7,27,...,3,10,7,6,9,4,2,10,14,31
Fayette,0,0,0,0,0,0,6,7,6,22,...,1,3,1,1,1,0,6,11,6,25
Franklin,7,8,12,13,16,5,12,40,117,325,...,63,70,108,116,91,72,82,125,196,363
Fulton,0,1,0,0,0,0,1,2,7,3,...,1,2,4,1,4,1,5,6,9,3
Gallia,0,0,1,0,0,0,1,3,5,14,...,2,1,1,3,0,1,1,5,6,16
Geauga,0,1,1,2,0,0,1,5,20,20,...,2,2,3,4,4,4,4,13,20,22
Greene,2,0,2,0,1,1,7,20,26,47,...,8,3,6,6,6,5,12,28,34,54
Guernsey,0,0,0,0,0,0,0,3,3,5,...,0,2,5,0,3,4,9,5,10,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Noble,0,0,0,0,0,0,0,1,0,1,...,1,1,0,0,0,0,0,2,1,1
NonOH,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ottawa,0,1,0,0,0,0,0,1,6,4,...,0,3,0,0,1,3,2,4,8,4
Paulding,0,0,1,0,0,0,0,0,0,3,...,0,1,1,0,0,0,3,0,0,3
Perry,0,0,0,0,0,0,0,1,0,1,...,2,1,1,4,2,0,2,1,2,4
Pickaway,0,0,0,1,0,0,0,2,0,4,...,1,5,5,5,4,3,1,3,1,8
Pike,0,1,0,0,0,1,0,1,1,10,...,3,4,1,4,1,3,3,5,2,10
Portage,0,2,2,0,0,0,3,17,31,26,...,3,3,5,2,3,6,9,19,37,30
Preble,0,0,0,0,0,0,3,3,11,23,...,3,1,2,0,1,1,6,8,15,24
Putnam,0,0,0,0,1,0,1,0,1,0,...,1,0,1,0,1,2,3,3,2,1
Richland,0,0,1,1,0,0,4,6,41,42,...,4,5,7,5,6,4,9,11,47,43
Ross,1,0,2,2,0,0,5,11,19,17,...,8,16,13,14,8,6,17,24,31,22
Sandusky,0,1,0,0,0,0,0,6,8,13,...,3,1,1,1,2,3,7,9,13,16
Scioto,1,1,0,0,2,1,7,4,12,27,...,11,10,8,7,3,2,10,7,17,30
Seneca,0,0,0,0,0,0,1,2,2,5,...,0,2,0,6,2,7,4,4,4,8
Shelby,0,0,0,0,0,0,1,4,13,21,...,2,2,1,2,1,3,3,4,13,21
Stark,1,2,5,3,5,2,21,26,67,67,...,5,4,20,20,23,23,36,47,78,80
Summit,5,7,2,2,7,6,53,111,227,168,...,12,21,25,20,32,21,73,107,241,179
Trumbull,2,1,1,2,0,1,2,25,77,83,...,16,14,26,18,9,13,21,48,86,103
Tuscarawas,1,0,1,2,0,0,0,2,5,16,...,1,1,3,9,3,4,2,6,10,20
Union,1,0,0,0,0,0,0,1,1,8,...,1,3,9,0,1,3,4,4,3,9
Unknown,0,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,1,0,0,0,2
Van Wert,0,0,1,0,0,0,0,1,4,5,...,0,1,2,5,1,4,2,1,5,7
Vinton,0,1,0,0,0,0,0,0,1,0,...,1,1,0,1,1,1,1,1,1,0
Warren,0,0,1,1,1,1,10,17,39,68,...,8,9,13,6,5,5,14,24,45,74
Washington,0,0,1,0,1,0,2,2,7,7,...,0,1,1,1,2,1,8,3,11,9
Wayne,2,1,0,0,1,0,3,10,20,13,...,7,0,0,9,4,0,6,17,28,14
Williams,2,0,0,0,1,0,0,0,2,2,...,2,1,3,0,0,3,1,0,4,2
Wood,0,2,0,0,0,0,1,5,10,12,...,2,8,5,2,2,1,10,15,13,14
Wyandot,0,1,0,0,0,0,0,0,2,2,...,0,1,0,0,0,0,0,1,3,2

In [5]:
death_count_county = total_death_count_df.drop(['NonOH', 'Unknown'])

#death_count_county.to_csv('Resources_PH/Death_Count_County.csv')

death_count_county.head()

,2008_Fentanyl,2009_Fentanyl,2010_Fentanyl,2011_Fentanyl,2012_Fentanyl,2013_Fentanyl,2014_Fentanyl,2015_Fentanyl,2016_Fentanyl,2017_Fentanyl,...,2008_Prescription,2009_Prescription,2010_Prescription,2011_Prescription,2012_Prescription,2013_Prescription,2014_Prescription,2015_Prescription,2016_Prescription,2017_Prescription
County,,,,,,,,,,,,,,,,,,,,,
Adams,0,0,0,0,0,1,4,5,5,10,...,1,1,1,0,1,3,5,6,7,10
Allen,0,0,0,1,1,2,0,6,18,26,...,1,2,2,4,7,8,6,15,21,31
Ashland,0,0,0,1,0,0,1,1,2,2,...,1,0,1,2,0,0,2,2,3,2
Ashtabula,0,2,1,0,0,0,2,4,27,13,...,2,3,3,1,3,3,7,9,31,16
Athens,1,0,0,2,0,0,2,2,0,1,...,1,3,3,11,3,4,5,5,5,4

In [6]:
#Create new columns for total deaths in each year
death_count_county["Total Deaths in 2008"] = death_count_county["2008_Fentanyl"] + death_count_county["2008_Heroin"] + death_count_county["2008_Methadone"] + death_count_county["2008_Opiates"] + death_count_county["2008_Other_Opioids"] + death_count_county["2008_Prescription"]
death_count_county["Total Deaths in 2009"] = death_count_county["2009_Fentanyl"] + death_count_county["2009_Heroin"] + death_count_county["2009_Methadone"] + death_count_county["2009_Opiates"] + death_count_county["2009_Other_Opioids"] + death_count_county["2009_Prescription"]
death_count_county["Total Deaths in 2010"] = death_count_county["2010_Fentanyl"] + death_count_county["2010_Heroin"] + death_count_county["2010_Methadone"] + death_count_county["2010_Opiates"] + death_count_county["2010_Other_Opioids"] + death_count_county["2010_Prescription"]
death_count_county["Total Deaths in 2011"] = death_count_county["2011_Fentanyl"] + death_count_county["2011_Heroin"] + death_count_county["2011_Methadone"] + death_count_county["2011_Opiates"] + death_count_county["2011_Other_Opioids"] + death_count_county["2011_Prescription"]
death_count_county["Total Deaths in 2012"] = death_count_county["2012_Fentanyl"] + death_count_county["2012_Heroin"] + death_count_county["2012_Methadone"] + death_count_county["2012_Opiates"] + death_count_county["2012_Other_Opioids"] + death_count_county["2012_Prescription"]
death_count_county["Total Deaths in 2013"] = death_count_county["2013_Fentanyl"] + death_count_county["2013_Heroin"] + death_count_county["2013_Methadone"] + death_count_county["2013_Opiates"] + death_count_county["2013_Other_Opioids"] + death_count_county["2013_Prescription"]
death_count_county["Total Deaths in 2014"] = death_count_county["2014_Fentanyl"] + death_count_county["2014_Heroin"] + death_count_county["2014_Methadone"] + death_count_county["2014_Opiates"] + death_count_county["2014_Other_Opioids"] + death_count_county["2014_Prescription"]
death_count_county["Total Deaths in 2015"] = death_count_county["2015_Fentanyl"] + death_count_county["2015_Heroin"] + death_count_county["2015_Methadone"] + death_count_county["2015_Opiates"] + death_count_county["2015_Other_Opioids"] + death_count_county["2015_Prescription"]
death_count_county["Total Deaths in 2016"] = death_count_county["2016_Fentanyl"] + death_count_county["2016_Heroin"] + death_count_county["2016_Methadone"] + death_count_county["2016_Opiates"] + death_count_county["2016_Other_Opioids"] + death_count_county["2016_Prescription"]
death_count_county["Total Deaths in 2017"] = death_count_county["2017_Fentanyl"] + death_count_county["2017_Heroin"] + death_count_county["2017_Methadone"] + death_count_county["2017_Opiates"] + death_count_county["2017_Other_Opioids"] + death_count_county["2017_Prescription"]
death_count_county["Total Deaths"] = death_count_county["Total Deaths in 2008"] + death_count_county["Total Deaths in 2009"] + death_count_county["Total Deaths in 2010"] + death_count_county["Total Deaths in 2011"] + death_count_county["Total Deaths in 2012"] + death_count_county["Total Deaths in 2013"] + death_count_county["Total Deaths in 2014"] + death_count_county["Total Deaths in 2015"] + death_count_county["Total Deaths in 2016"] + death_count_county["Total Deaths in 2017"]

death_count_county.head()

,2008_Fentanyl,2009_Fentanyl,2010_Fentanyl,2011_Fentanyl,2012_Fentanyl,2013_Fentanyl,2014_Fentanyl,2015_Fentanyl,2016_Fentanyl,2017_Fentanyl,...,Total Deaths in 2009,Total Deaths in 2010,Total Deaths in 2011,Total Deaths in 2012,Total Deaths in 2013,Total Deaths in 2014,Total Deaths in 2015,Total Deaths in 2016,Total Deaths in 2017,Total Deaths
County,,,,,,,,,,,,,,,,,,,,,
Adams,0,0,0,0,0,1,4,5,5,10,...,3,3,0,9,10,28,26,35,40,158
Allen,0,0,0,1,1,2,0,6,18,26,...,6,6,14,30,31,20,56,74,95,334
Ashland,0,0,0,1,0,0,1,1,2,2,...,0,4,7,0,0,9,12,10,7,53
Ashtabula,0,2,1,0,0,0,2,4,27,13,...,9,11,5,31,24,47,37,128,53,351
Athens,1,0,0,2,0,0,2,2,0,1,...,13,9,37,18,21,21,20,17,14,173

In [9]:
deaths_per_year_county = death_count_county[['Total Deaths in 2008',
       'Total Deaths in 2009', 'Total Deaths in 2010', 'Total Deaths in 2011',
       'Total Deaths in 2012', 'Total Deaths in 2013', 'Total Deaths in 2014',
       'Total Deaths in 2015', 'Total Deaths in 2016', 'Total Deaths in 2017']]

deaths_per_year_county

,Total Deaths in 2008,Total Deaths in 2009,Total Deaths in 2010,Total Deaths in 2011,Total Deaths in 2012,Total Deaths in 2013,Total Deaths in 2014,Total Deaths in 2015,Total Deaths in 2016,Total Deaths in 2017
County,,,,,,,,,,
Adams,4,3,3,0,9,10,28,26,35,40
Allen,2,6,6,14,30,31,20,56,74,95
Ashland,4,0,4,7,0,0,9,12,10,7
Ashtabula,6,9,11,5,31,24,47,37,128,53
Athens,3,13,9,37,18,21,21,20,17,14
Auglaize,9,3,6,10,11,10,3,18,7,18
Belmont,12,6,12,3,17,2,12,25,36,24
Brown,9,7,14,11,12,29,27,70,45,83
Butler,100,135,113,151,111,217,370,562,595,737
Carroll,6,5,0,0,8,5,6,12,8,14
Champaign,0,0,18,13,13,9,21,20,29,47
Clark,31,32,39,86,80,76,90,202,205,290
Clermont,85,56,117,115,121,135,213,316,275,279
Clinton,15,14,2,2,21,25,16,58,38,84
Columbiana,7,0,4,7,21,13,24,20,24,41
Coshocton,6,0,2,2,3,8,4,8,4,9
Crawford,6,4,6,7,7,5,27,30,20,51
Cuyahoga,253,271,300,459,452,513,572,670,1673,1779
Darke,5,7,4,7,24,14,29,30,53,81
Defiance,0,4,2,12,5,6,12,23,13,8
Delaware,12,25,27,25,36,35,28,26,29,86
Erie,9,12,6,8,8,11,32,57,76,80
Fairfield,9,40,36,23,38,33,25,43,54,112
Fayette,4,10,3,5,3,4,25,41,19,77
Franklin,226,282,398,429,389,380,423,613,797,1238
Fulton,3,7,14,3,15,3,17,20,29,10
Gallia,6,3,3,9,4,11,7,21,31,56
Geauga,9,7,17,23,21,28,24,47,77,79
Greene,40,16,23,25,23,31,57,103,114,178
Guernsey,0,5,11,2,6,13,24,19,30,23
...,...,...,...,...,...,...,...,...,...,...
Morrow,3,10,9,6,3,17,18,7,14,27
Muskingum,16,8,2,0,14,12,4,9,5,32
Noble,3,3,0,0,0,0,0,10,3,3
Ottawa,0,8,0,0,3,10,9,16,32,13
Paulding,0,5,4,0,0,0,10,0,0,9
Perry,6,3,3,12,6,0,8,8,9,13
Pickaway,5,16,16,28,21,17,10,19,9,27
Pike,9,12,3,12,5,14,13,20,10,37
Portage,9,9,21,10,18,33,63,86,127,99
Preble,11,3,7,0,4,8,21,35,55,77
Putnam,3,0,4,0,3,6,10,11,9,2
Richland,14,27,32,32,22,46,62,74,185,140
Ross,22,50,40,47,32,34,76,103,113,84
Sandusky,10,3,3,3,5,9,27,31,45,50
Scioto,34,29,26,28,16,23,35,37,62,100
Seneca,0,9,0,16,8,23,26,12,15,39
Shelby,10,8,7,12,5,10,15,21,45,66
Stark,25,17,74,85,83,97,150,169,276,264
Summit,49,80,100,78,154,132,293,411,846,597
Trumbull,59,59,87,92,47,72,122,227,302,346
Tuscarawas,5,5,8,26,10,12,7,20,34,62
Union,3,10,30,0,3,10,16,13,16,33
Van Wert,0,4,9,16,4,13,11,3,21,23
Vinton,3,4,0,3,5,2,5,4,5,2
Warren,33,41,54,32,39,43,73,102,159,234
Washington,0,4,5,5,6,7,29,19,41,31
Wayne,19,7,4,20,17,2,22,64,93,42
Williams,6,3,10,0,1,12,5,2,21,7
Wood,9,27,14,6,8,8,42,65,52,45
Wyandot,0,3,0,0,2,0,0,4,15,7

In [10]:
death_totals_year = deaths_per_year_county.sum()
death_totals_year

Total Deaths in 2008     2027
Total Deaths in 2009     2163
Total Deaths in 2010     2677
Total Deaths in 2011     3127
Total Deaths in 2012     3298
Total Deaths in 2013     3905
Total Deaths in 2014     5562
Total Deaths in 2015     7704
Total Deaths in 2016    11030
Total Deaths in 2017    13424
dtype: int64